<h2>About</h2>
<p>
  Roku device and account.

An HDMI output for connection to an HD or 4K Ultra HD TV is provided on all the streaming players. In addition, Wifi is included for connection to a home network for internet access.

Roku also provides a mobile app for iOS and Android devices that provides even more flexibility. The mobile app n provides Voice Search, as well as duplicating several menu categories that are a part of the Roku TV onscreen menu system, allowing you to control Roku players directly from your compatible mobile device.</p>
