<h2>Home</h2>
<p>
  With the convergence of the PC and Home Theater, a type of product has emerged, the Network Media Player, Media Extender, Media Streamer. These products allow access to PC media content or the streaming/downloading of audio, video, and still image content directly from the internet that can be played on your TV or home theater system. In addition to standalone devices, Media Player/Extender capability is also being built into other products, such as Blu-ray Disc players and even TVs. For a look at Media Player/Extender/Streamers that might work well with your home theater, check out my top picks.
</p>
